:root{
    --text-color: #333;
    --while-color: #fff;
    --primary-color: #f53e2d;
    --start-gold-color:#FFCE3E;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsive */
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}



/* animation */

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(--growth-from);
    }
    to{
        transform: scale(--growth-to);
    }
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    background-color: rgba(0,0,0,0.4);

    animation: fadeIn linear .1s;
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    border-radius: 5px;

    background-color: var(--while-color);

    overflow: hidden;
    animation: growth linear .1s;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 0;
    
    background-color: transparent;

    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;

    cursor: pointer;
    outline: none;
}
.btn.btn--back{
    text-transform: uppercase;
    color: #333;
}
.btn.btn--main{
    padding: 0.7rem 4rem;

    background-color: var(--primary-color);

    text-transform: uppercase;
    color: var(--while-color);
}
.btn + .btn{
    margin-left: 5rem;
}
.btn.btn--with-icon{
    display: inline-block;
    padding: 1rem 4rem 1rem 1rem;
    border: 1px solid #D3D3D3;
}
.btn--with-icon + .btn--with-icon{
    margin-left: 1rem;
}

/* pagination */
.pagination{
    display: flex;
    justify-content: center;
}

.pagination-item{
    margin: 0 1.2rem;
    list-style: none;
}

.pagination-item__link{
    --height: 3rem;
    min-width: 4rem;
    height: var(--height);
    display: block;
    border-radius: 2px;

    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    text-align: center;
    line-height: var(--height);
}

.pagination-item--active .pagination-item__link{
    color: var(--while-color);
    background-color: var(--primary-color);
}

.pagination-item--active:hover .pagination-item__link{
    background-color: #ed5c3f;
}